// theme/_colors.scss

$primary: #ffffff;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: rgb(1, 2, 1);
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #a1a1a1;
$on-secondary: #fff;

$highlight: darkolivegreen;
