* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, Monaco, Menlo, source-code-pro, Consolas,
    'Courier New';
}

code {
  font-family: Monaco, Menlo, source-code-pro, Consolas, 'Courier New',
    monospace;
}

#root {
  display: absolute;
  flex-direction: column;
}
