@import '../theme/theme';

.container {
  background-color: rgb(1, 2, 1);
  padding: 1rem 1rem 4rem 1rem;
  width: auto;
  height: 100%;
}

.main {
  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.logo {
  border-radius: 90px;
  opacity: 80%;
  text-align: center;
}

.imgIndex {
  opacity: 15%;
  border-radius: 30px;
  height: 40vh;
}

.title {
  color: white;
  cursor: pointer;
  font-family: 'Helvetica Neue', Arial, Monaco, Menlo, source-code-pro,
    sans-serif;
  font-size: 2em;
  line-height: 1.15;
  text-align: left;
}

.title,
.description {
  text-align: left;
  margin-bottom: 10%;
}

.title:hover {
  color: $highlight;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
}

.menu {
  margin-top: 15%;
}

.light {
  opacity: 100%;
  border-radius: 0%;
  margin-right: 40%;
}
