.NavButton {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;

  .Label {
    font-size: 0.9em;
    text-transform: capitalize;
  }
}

.NavButton_active {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: darkolivegreen;

  cursor: pointer;

  .Label {
    font-size: 0.9em;
    text-transform: capitalize;
  }
}
